<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="pb-7 mx-6 rounded-md">
    <%= form.hidden_field :topic_id%>
    <%= form.text_area :body %>
    <br>
    <%= form.submit "Create New post", class: "middle none center rounded-lg py-3 px-6 font-sans text-xs font-bold uppercase text-slate-800 transition-all hover:bg-sky-300 active:bg-sky-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"%>
  </div>
<% end %>
