<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w w-full bg-white p-8 rounded-lg">
    <%= form.hidden_field :topic_id%>
    <%= form.label :body, "New Post", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :body, placeholder: "What's on your mind?" ,class: "w-full border-2 rounded-md px-4 py-2 leading-5 transition duration-150 ease-in-out sm:text-sm
        sm:leading-5 focus:outline-none focus:border-blue-500 h-32"%>
    <br>
    <%= form.button "Post" , class: "items-center bg-blue-500 hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue text-white py-2 px-4 rounded-md transition duration-300 gap-2 my-5" %>
  </div>
<% end %>
