<!DOCTYPE html>
<html>
  <head>
    <title>EksiRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <nav
        class="fixed inset-x-0 top-0 z-10 w-full px-4 py-1 bg-white shadow-md border-slate-500 dark:bg-[#0c1015] transition duration-700 ease-out"
      >
        <div class="flex justify-between p-4">
          <div class="text-[2rem] leading-[3rem] tracking-tight font-bold text-black dark:text-white">
            <%= link_to "EksiRails", root_path %>
          </div>
          <div class="flex items-center space-x-4 text-lg font-semibold tracking-tight">
          <% if user_signed_in? %>
              <%= link_to "New Topic", new_topic_path, class: "px-6 py-2 text-black transition duration-700 ease-out bg-white border border-black rounded-lg hover:bg-black hover:border hover:text-white dark:border-white dark:bg-inherit dark:text-white dark:hover:bg-white dark:hover:text-black"%>
              <%= button_to "Log Out", destroy_user_session_path, :method => :delete,class: "px-6 py-2 text-black transition duration-700 ease-out bg-white border border-black rounded-lg hover:bg-black hover:border hover:text-white dark:border-white dark:bg-inherit dark:text-white dark:hover:bg-white dark:hover:text-black"%>
          <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "px-6 py-2 text-black transition duration-700 ease-out bg-white border border-black rounded-lg hover:bg-black hover:border hover:text-white dark:border-white dark:bg-inherit dark:text-white dark:hover:bg-white dark:hover:text-black"%>
              <%= link_to "Sign up", new_user_registration_path, class: "px-6 py-2 text-white transition duration-500 ease-out bg-blue-700 rounded-lg hover:bg-blue-800 hover:ease-in hover:underline" %>
          <% end %>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="flex flex-row">
          <div class="basis-2/12">
            <h1>Topics</h1>
            <br>
            <% Topic.all.each do |topic| %>
              <p><%= link_to topic.title + " (#{topic.posts.count}) ", topic%></p>
            <% end %>
          </div>
          <div class="basis-8/12"><%= yield %></div>
          <div class="basis-2/12">Extra</div>
        </div>
      </div>

    </main>
  </body>
</html>
